/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
   */
   .inputlogin{
		width: 40%;
		height: 40px;
		background: #b3ddb8;
		justify-content: center;
		display: flex;
		margin: 12px 10px;
		padding: 10px;
		border: none;
		outline: none;
		border-radius: 5px;
}