/* .calculate_test{
    background-color:rgba(0, 0, 0, 0.2);
    height: 88vh;
    width: 100%;
}


.navbara{
    background-color: rgb(18, 136, 97);
    width:100vw;
    height:75px;
}
.Bghead{
    display: flex;
    background-image: url(P:\GIT\Project_SOFTDEV\Fontend\rail-transport-system\src\components\Calculate\ตารางรถไฟฟ้า.png);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 736px;
    height: 110px;
    justify-content: end;
}

.line{
    width: 1160px;
    height: 0px;
    border: 4px solid #45C9CB;
    margin-bottom: 50px;
}

.Cal{
    display: flex;
    width: 550px;
    height: 105px;
    margin-top: 0px;
    margin-bottom: 0px;
    color:rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}


.BgS{
    background-color: #3454A1;
    justify-content: center;
    width: 287px;
    height: 100px;
    margin: 0 2%;
    border-radius: 20px;
}

.BgSelect1{
    display: flex;
    width: 690px;
    height: 125px;
    background-color: #7FAAD5;
    border-radius: 20px;
    margin: 0 4%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.Select1{
    line-height: 100%;
    align-self: center;
    margin-left: 10%;
    border: 2px solid red;
    color: white;
}

.botton{
    width: 76px;
    height: 76px;
    margin-right:10%;
    border-radius: 20px;
}

.StaS{
    display: flex;
    width: 287px;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    color :white;
    justify-content: center;
    align-items: center;
}

.bottonok{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: #B980A5;
    border-radius: 20px;
    margin: 0 4%;
    justify-content: center;
    align-self: start;
}

.textok{
    line-height: 100%;
    align-self: center;
    border: 2px solid red;
    color: rgb(255, 255, 255);
}
