video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.train-container{
    /* background: url('images/ima-home.jpg') center center/cover 
    no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.train-container>h1{
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.train-container >h2{
    margin-top: 8px;
    color: #fff;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.train-btns{
    margin-top: 32px;
}


@media screen and (max-width:960) {
    .train-container>h1{
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width:768) {
    .train-container>h1{
        font-size: 50px;
        margin-top: -100px;
    }

    .train-container>h2{
        font-size: 30px;
    }
    .btn-mobile{
        display: block;
        text-decoration: none;
        
    }
    .btn{
        width: 100%;
    }
}


