.Body_Regis{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(to top, #ffffff, #ffffff, #7E7D81);
}

.Card-Regis{
	width:1150px;
	height: 725px;
	overflow: hidden;
	/* background: url("https://rail-transport-system.netlify.app/images/New_login/spider-card.jpg")  no-repeat center/ cover ; */
	/* opacity: 0.5; */
	border-radius: 50px;
	box-shadow: 5px 20px 50px rgb(126, 125, 129);
}

.error{
	color: #C25F5D;
}