.input_box, register_class{
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: rgb(95, 142, 241);
    padding: 14px 20px;
    border: 2px solid #fff;
    transition: all 0.3s ease-out;
}